extends layout
block content
 h1(class= 'title')= title
 if (toShow == null)
  h2 No instance to update
 else
  - let aptid = toShow._id
  - console.log(toShow);
  - let apt_type = toShow.apartment_location
  - let apt_name = toShow.apartment_size
  - let apt_cost = toShow.apartment_rent

  div.row(class='mb-2, style')
    div.mr-1 ID is
    div #{aptid}
  - let actionid = "/resource/apartments/" + aptid
  form(id='aptForm', action= actionid, method="PUT")
    div.form-group
      label.aptAttr(for='apt_type') apartments Location
      input#apt_type(type='String', name='apt_type', value= apt_type )
    div.form-group
      label.aptAttr(for='apt_name') apartment Size
      input#apt_name(type='String', name='apt_name', value= apt_name )
    div.form-group
      label.aptAttr(for='apt_cost') apartment rent
      input#apt_cost(type='number', name='apt_cost', value= apt_cost )
    input(class="btn btn-success m-2" type="submit")
  script.
    document.forms['aptForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
      method: 'PUT',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
      alert("Update succeded")
      // TODO handle body
      }).catch((error) => {
      // TODO handle error
      alert("Update failed " + error )
      });
    });